@font-face {
    font-family: 'HERAHUGHES';
    src: local('HERAHUGHES'), url('https://github.com/buurtijs/buurtijsweb-archive/blob/main/font/HERAHUGHES.ttf') format('truetype'),
    url('font/herahughes-webfont.woff2') format('woff2'),
    url('font/herahughes-webfont.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: HERAHUGHES, regular;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  background-color: rgba(33, 33, 33, 1);
  width: 100vw;
  max-width: 100vw !important;
  overflow-x: hidden;
  overflow-y: hidden;
}


img{
  z-index:3;
  padding:3%;
}

a, h1, p {
  padding-left: min(20px, 3%);
  padding-right: min(20px, 3%);
  max-width: 600px;
}



/* some initial styles for smaller screens */

@media only screen and (max-width: 600px) {

  canvas {
    display: block;
    position:absolute;
    z-index:2;
    overflow-x: hidden;
      overflow-y: hidden;
  }

}

* {
  font-family: HERAHUGHES, regular;
  color: white;
}

canvas {
  display: block;
  position:absolute;
  z-index:2;
}

/* archive page */

.layerClass{
  opacity: 1;
  transform: translate(-50%, -50%);
  position:absolute;
  z-index:1;
}

/* below styles for solidarity payments */

.twobuttongrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left:auto; margin-right: auto;
}
.twobuttonitem {
text-align: center;
}
.twobuttonitem1 {
text-align: center;
border: 1px solid #EFA0BF;
color:#EFA0BF;
padding: 4px;
padding-top: 6px;

}
.twobuttonitem2 {
text-align: center;
border: 1px solid #77CDEE;
padding: 4px;
padding-top:6px;
}

a.budget {
  color:#77CDEE;
  text-decoration: none;
}

#wage, #xtubs, #weekHours, #monthSalary  {
  background-color: rgba(250,250,250,0.9);
  border: 1px dotted red;
  padding: 3px;
border-radius: 40px;
color: rgba(33, 33, 33, 1);
  /* background: url("./images/yellow ring back.png");
  background-repeat: no-repeat;
 background-size: 100% 100%; */
}

#tubmins, #onetub, #twotub, #threetub, #xtub, #yourwage {
  color: rgba(33,33,33,1);
}

.paymenttext {
    color: rgba(33, 33, 33, 1);
    padding-left: 35px;
}

#paymentbox {
  width: 220px;
  margin-left: 10px;
  height: 190px;
    padding: 20px;
  background: url("./images/yellow blob.png");
  background-repeat: no-repeat;
 background-size: 100% 100%;
}

#salarybox {
  width: 230px;
  margin-left: 10px;
  height: 140px;
    padding: 20px;
  background: url("./images/green-blob.png");
  background-repeat: no-repeat;
 background-size: 100% 100%;
}

a.paymentlink {
  color: #16A86D;
  font-size: 25px;
 text-decoration: underline;
}

.solidaritypopHide {
  font-size: 0px;
}

.solidaritypop {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  position: fixed;
  top: 10%;
  left: 2%;
  width: 95%;
  max-height: 80%;
  background: #16A86D;
  overflow-y: scroll;


  /* Below is the green bubble draft */
  /* background: url("./images/green-blob.png");
  background-repeat: no-repeat;
 background-size: 100% 100%;
   padding: 20px; */
}

.sp-grid-item {
text-align: center;
}

.sp-grid-item1 {
grid-column: 1 / 5;
  }

.sp-grid-item3 {
grid-column: 1 / 6;
padding-left: 3%;
padding-right: 3%;
padding-bottom: 3%;
  }
